<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ArtNest</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</head>
<body class="" style="background-color: #10141f;">
    <div class="form-container w-50" style="margin: auto; margin-top: 200px;">
      <h2 class="text-center text-white">Pago con Tarjeta de Crédito</h2>
      <div class=" mt-5">
        <form class="text-white">
            <div class="mb-3">
                <label for="cardName" class="form-label">Nombre en la Tarjeta</label>
                <input type="text" class="form-control" id="cardName" placeholder="Nombre completo" required>
            </div>
            <div class="mb-3">
                <label for="cardNumber" class="form-label">Número de Tarjeta</label>
                <input type="text" class="form-control" id="cardNumber" placeholder="XXXX XXXX XXXX XXXX" required>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="expiryDate" class="form-label">Fecha de Expiración</label>
                    <input type="text" class="form-control" id="expiryDate" placeholder="MM/AA" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="cvv" class="form-label">CVV</label>
                    <input type="text" class="form-control" id="cvv" placeholder="CVV" required>
                </div>
            </div>
            <div class="mb-3">
                <label for="amount" class="form-label">Monto a Pagar</label>
                <input type="text" class="form-control" id="amount" placeholder="$0.00" required>
            </div>
            <button type="submit" class="btn btn-primary w-100">Pagar Ahora</button>
        </form>
    </div>
    </div>
</body>