<%- include('layouts/header.ejs') -%>
<link rel="stylesheet" href="/css/home.css">
<body>
    <%- include('navbar.ejs') -%>
    <div class="content__header">
        <form class="search__container">
            <label class="search__button">
                <i class="search__icon fa-solid fa-magnifying-glass"><button type="submit"></button></i>
                <input class="search__input" type="text" placeholder="Busca tus imágenes favoritas">
            </label>
        </form>
    </div>
    <section class="content">
        <div class="cards__container" id="cardsContainer">
            
        </div>
    </section>

  
    <div id="imageModal" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="modalImage">
        <div id="caption"></div>
    </div>

    <script src="/js/gallery.js"></script>
    <script src="/js/bookmark.js"></script> 
</body>
<%- include('layouts/footer.ejs') -%>
