<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/navbar.css">
    <script src="https://kit.fontawesome.com/26fe3ca93f.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
</head>

<body>
    <%- include('navbar.ejs') %>

    <div class="content__header">
        <form class="search__container">
            <label class="search__button">
                <i class="search__icon fa-solid fa-magnifying-glass"><button type="submit"></button></i>
                <input class="search__input" type="text" placeholder="Busca tus imagenes favoritas">
            </label>
        </form>
    </div>

    <div class="content__header">
        <form class="search__container">
            <label class="search__button">
                <i class="search__icon fa-solid fa-magnifying-glass"><button type="submit"></button></i>
                <input class="search__input" type="text" placeholder="Busca tus imagenes favoritas">
            </label>
        </form>
    </div>

    <section class="content">
        <h2 class="content__title">Fotos recomendadas para ti</h2>
        <div class="cards__container">
            <div class="card">
                <img class="card__image" src="assets/darwin-collage-animals.png" alt="">
                <i class="card__icon fa-regular fa-bookmark"></i>
                <ul class="card__tags">
                    <li>2024</li>
                    <li>Collage</li>
                </ul>
                <h3 class="card__title">Darwin</h3>
            </div>
            <div class="card">
                <img class="card__image" src="assets/darwin-collage-animals.png" alt="">
                <i class="card__icon fa-regular fa-bookmark"></i>
                <ul class="card__tags">
                    <li>2024</li>
                    <li>Collage</li>
                </ul>
                <h3 class="card__title">Darwin</h3>
            </div>
            <div class="card">
                <img class="card__image" src="assets/darwin-collage-animals.png" alt="">
                <i class="card__icon fa-regular fa-bookmark"></i>
                <ul class="card__tags">
                    <li>2024</li>
                    <li>Collage</li>
                </ul>
                <h3 class="card__title">Darwin</h3>
            </div>
            <div class="card">
                <img class="card__image" src="assets/darwin-collage-animals.png" alt="">
                <i class="card__icon fa-regular fa-bookmark"></i>
                <ul class="card__tags">
                    <li>2024</li>
                    <li>Collage</li>
                </ul>
                <h3 class="card__title">Darwin</h3>
            </div>
            <div class="card">
                <img class="card__image" src="assets/darwin-collage-animals.png" alt="">
                <i class="card__icon fa-regular fa-bookmark"></i>
                <ul class="card__tags">
                    <li>2024</li>
                    <li>Collage</li>
                </ul>
                <h3 class="card__title">Darwin</h3>
            </div>
            <div class="card">
                <img class="card__image" src="assets/darwin-collage-animals.png" alt="">
                <i class="card__icon fa-regular fa-bookmark"></i>
                <ul class="card__tags">
                    <li>2024</li>
                    <li>Collage</li>
                </ul>
                <h3 class="card__title">Darwin</h3>
            </div>
            <div class="card">
                <img class="card__image" src="assets/darwin-collage-animals.png" alt="">
                <i class="card__icon fa-regular fa-bookmark"></i>
                <ul class="card__tags">
                    <li>2024</li>
                    <li>Collage</li>
                </ul>
                <h3 class="card__title">Darwin</h3>
            </div>
            <div class="card">
                <img class="card__image" src="assets/darwin-collage-animals.png" alt="">
                <i class="card__icon fa-regular fa-bookmark"></i>
                <ul class="card__tags">
                    <li>2024</li>
                    <li>Collage</li>
                </ul>
                <h3 class="card__title">Darwin</h3>
            </div>
            <div class="card">
                <img class="card__image" src="assets/darwin-collage-animals.png" alt="">
                <i class="card__icon fa-regular fa-bookmark"></i>
                <ul class="card__tags">
                    <li>2024</li>
                    <li>Collage</li>
                </ul>
                <h3 class="card__title">Darwin</h3>
            </div>
        </div>
    </section>




</body>

<script>
    document.querySelectorAll('.nav__item').forEach(item => {
        item.addEventListener('click', (e) => {
            if (!sessionStorage.getItem('user')) {
                window.location.href = '/login';
            } else {
                
            }
        });
    });
</script>


</html>