<!-- navbar.ejs -->
<aside class="nav__container">
    <nav class="nav">
        <ul class="nav__items">
            <li class="nav__item nav__item--first"><i class="fa-solid fa-image"></i></li>
            <li class="nav__item active"><i class="fa-solid fa-house"></i></li>
            <li class="nav__item"><i class="fa-solid fa-bookmark"></i></li>
            <li class="nav__item"><i class="fa-solid fa-cloud-arrow-up"></i></li>
            <li class="nav__item"><i class="fa-solid fa-palette"></i></li>
            <li class="nav__item nav__item--last"><i class="fa-solid fa-user"></i></li>
        </ul>
    </nav>
</aside>
