<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/perfil.css">
    <link rel="stylesheet" href="css/banner.css">
    <script src="javascript/banner.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
</head>
<body>
    <aside class="nav__container">
        <nav class="nav">
            <ul class="nav__items">
                <li class="nav__item nav__item--first"><i class="fa-solid fa-image"></i></li>
                <li class="nav__item active"><i class="fa-solid fa-house"></i></li>
                <li class="nav__item"><i class="fa-solid fa-bookmark"></i></li>
                <li class="nav__item"><i class="fa-solid fa-cloud-arrow-up"></i></li>
                <li class="nav__item"><i class="fa-solid fa-palette"></i></li>
                <li class="nav__item nav__item--last"><i class="fa-solid fa-user"></i></li>
            </ul>
        </nav>
    </aside>

    <div class="content__header">
    </div>

    <section class="content">
        <img src="" alt="">
        <h2 class="content__main-title">Jesus Eduardo Arciniega Moreno</h1>
        <h3 class="content__subtitle">Correo: eduardo@gmail.com</h3>
        <h3 class="content__subtitle">Fotos subidas: 10</h3>
        <h3 class="content__subtitle">Fotos favoritas: 5</h3>
        <h3 class="content__subtitle">Cambiar foto de perfil</h3>
        <button class="content__button">Cerrar sesion</button>
    </section>
</body>
</html>

<script src="https://kit.fontawesome.com/26fe3ca93f.js" crossorigin="anonymous"></script>