<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ArtNest</title>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/navbar.css">
</head>
<script>
    window.onload = function() {
        '<% if (mensaje) { %>'
            setTimeout(function() {
                alert("<%= mensaje %>");
            }, 100);
        '<% } %>'
    };
</script>
<body>
    <div class="container">
        <!-- Carrusel -->
        <div class="carousel">
            <div class="slides">
                <img src="/assets/darwin-collage-animals.png" alt="Image 1">
                <img src="/assets/darwin-collage-animals.png" alt="Image 2">
                <img src="/assets/darwin-collage-animals.png" alt="Image 3">
            </div>
        </div>
        
        <div class="form-container">
            <h2>Inicio de Sesión</h2>
            <form action="/database/login" method="post">
                <input type="email" placeholder="Correo" id="Correo" name="Correo" class="form-control form-control-lg" autocomplete="off" required />
                <input type="password" placeholder="Contraseña" id="Password" name="Password" class="form-control form-control-lg" onkeypress="return /[a-zA-Z0-9!#$%&\/?\\¿¡+*~{[^`},;.:_-]/.test(event.key)" title="La contraseña debe contener letras mayúsculas y minúsculas, números y al menos uno de los siguientes símbolos: !#$%&amp;/?\¿¡+*~{[^`},;.:-_" autocomplete="off" required />
                <p style="text-align: right;">¿Olvidaste tu contraseña? <a href="/cambiar_contra">recuperar</a></p>
                <button type="submit">Iniciar sesión</button>
            </form>
            
            <p>¿No tienes una cuenta? <a href="/registro">Regístrate</a></p>
            <p>Inicio <a href="/">Inicio</a></p>
        </div>
    </div>
    <script src="js/carousel.js"></script>
</body>
<%- include('../layouts/footer.ejs') -%>