<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="css/forms.css">
</head>
<body>

    

    <div class="container">
        <!-- Formulario de Registro -->
        <div class="form-container">
            <h2>Registro</h2>
            <form>
                <input type="text" placeholder="Nombre" required>
                <input type="email" placeholder="Correo electrónico" required>
                <input type="password" placeholder="Contraseña" required>
                <button type="submit">Registrarse</button>
            </form>
            <p>¿Ya tienes una cuenta? <a href="/login">Inicia sesión</a></p>
        </div>
        <!-- Carrusel -->
        <div class="carousel">
            <div class="slides">
                <img src="/assets/darwin-collage-animals.png" alt="Image 1">
                <img src="/assets/darwin-collage-animals.png" alt="Image 2">
                <img src="/assets/darwin-collage-animals.png" alt="Image 3">
            </div>
        </div>
    </div>
    <script src="js/carousel.js"></script>
</body>
</html>

